* {
    --metalloid: #9ee5d4;
    --nonmetal: #8ced8c;
    --noble: #e5bde5;
    --alkali: #eace5d;
    --alkaline: #f1f165;
    --poor: #acdfec;
    --transition: #fac5b7;
    --lanthanoid: #e8d19c;
    --actinoid: #f5ccda;

    --metalloid-border: #8bc9ba;
    --nonmetal-border: #7bd07b;
    --noble-border: #c9a6c9;
    --alkali-border: #ceb552;
    --alkaline-border: #d4d459;
    --poor-border: #97c4cf;
    --transition-border: #dcada1;
    --lanthanoid-border: #ccb889;
    --actinoid-border: #d7b3bf;
}
.top#tp {
    width: 101.14%;
    height: 60px;
    margin-left: -5px;
    margin-top: -5px;
    border-radius: 4px;
    background: linear-gradient(90deg, rgb(114, 198, 254), rgb(45, 126, 255), rgb(7, 76, 171));
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.top#tp > :first-child{
    display: block;
    color: #fff;
    font-size: x-large;
    font-weight: 600;
}
.top#tp > :nth-child(2){
    display: block;
    color: #fff;
}
footer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 0.95rem;
    border: none;
    border-top: #bbb 1px solid;
    color: #333;
    padding: 20px 0;
}
body {
    overflow-x: hidden;
    background-color: #e7fbfd;
}
.table {
    margin-top: 30px;
    margin-left: 20px;
}
.table > .item > * {
    position: absolute;
}
.table > .item {
    width: 70px;
    height: 70px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    transition: all .2s;
    outline: transparent 0 solid;
    border: 2px solid transparent;
}
.table > .item:hover {
    outline: #2fa1ed 4px solid!important;
}
.table > .item > :first-child {
    left: 2px;
    top: 1px;
    font-size: x-small;
}
.table > .item > :nth-child(2) {
    top: 1px;
    right: 2px;
    font-size: x-small;
}
.table > .item > :nth-child(3) {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.table > .item > :nth-child(4) {
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-size: x-small;
}
.table > .item > :nth-child(5) {
    bottom: 1px;
    left: 2px;
    font-size: x-small;
}
.table > .item.nonmetal {
    background-color: var(--nonmetal);
    border-color: var(--nonmetal-border);
}
.table > .item.metalloid {
    background-color: var(--metalloid);
    border-color: var(--metalloid-border);
}
.table > .item.alkali {
    background-color: var(--alkali);
    border-color: var(--alkali-border);
}
.table > .item.alkaline {
    background-color: var(--alkaline);
    border-color: var(--alkaline-border);
}
.table > .item.noble {
    background-color: var(--noble);
    border-color: var(--noble-border);
}
.table > .item.poor {
    background-color: var(--poor);
    border-color: var(--poor-border);
}
.table > .item.transition {
    background-color: var(--transition);
    border-color: var(--transition-border);
}
.table > .item.lanthanoid {
    background-color: var(--lanthanoid);
    border-color: var(--lanthanoid-border);
}
.table > .item.actinoid {
    background-color: var(--actinoid);
    border-color: var(--actinoid-border);
}
.table > .period {
    position: absolute;
    left: 30px;
}
a {
    text-decoration: none;
    color: #2fa1ed;
    transition: all .3s;
    cursor: pointer;
}
a:hover {
    color: #0c65b8;
}
.contents {
    margin: 20px 0;
    width: 100%;
}
.line {
    width: 60%;
    height: 5px;
    margin-left: 10%;
    border: none;
    border-top: 1px solid #ccc!important;
    margin-top: 10px;margin-bottom: 10px;
}
.contents > :first-child {
    font-weight: 900;
    color: #49acee;
    font-size: xx-large;
    margin-left: 20px;
}
.content {
    color: #666;
    width: 500px;
}
.contents > .content {
    margin-left: 10%;
    font-size: large;
}
.contents > * {
    margin-left: 20px;
}